<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSRF Token -->
  <meta name="csrf-token" content="fKWlVGwlwf3LHXTLztU8mHiCzQwHrijyZ7MsvQzc">

  <title>NAGOYAMESHI</title>

  <!-- Fonts -->
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

  <!-- Scripts -->
  <link rel="stylesheet" href="https://nagoyameshi-pattern-1.herokuapp.com/build/assets/app.2062f98f.css" />
  <script type="module" src="https://nagoyameshi-pattern-1.herokuapp.com/build/assets/app.093f8e66.js"></script>
  <link href="https://nagoyameshi-pattern-1.herokuapp.com/css/nagoyameshi.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
</head>

<body>
  <header>
    {% block header %}
    {% include 'snippets/header.html' %}
    {% endblock %}
  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
    {% include 'snippets/footer.html' %}
    {% endblock %}
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://nagoyameshi-pattern-1.herokuapp.com/js/carousel.js"></script>
</body>

</html>