{% extends "base.html" %}
{% block main %}
<div class="container nagoyameshi-container pb-5">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8">

      <h1 class="mb-3 text-center">有料プラン登録</h1>  

      <div class="card mb-4">
        <div class="card-header text-center">有料プランの内容</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">・当日の2時間前までならいつでも予約可能</li>
          <li class="list-group-item">・店舗をお好きなだけお気に入りに追加可能</li>
          <li class="list-group-item">・レビューを全件閲覧可能</li>
          <li class="list-group-item">・レビューを投稿可能</li>
          <li class="list-group-item">・月額たったの300円</li>
        </ul>
      </div>                

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}   {# ← ここでフォームを描画 #}
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary text-white shadow-sm w-50">
            登録
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
