{# templates/pages/store_tabs.html #}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'top' %}active{% endif %}"
       href="{% url 'store_top' store.id %}">トップ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'reserve' %}active{% endif %}"
       href="{% url 'store_reserve' store.id %}">予約</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'reviews' %}active{% endif %}"
       href="{% url 'store_reviews' store.id %}">レビュー</a>
  </li>
</ul>
