{% load static %}

<div class="container nagoyameshi-container">
  <h2 class="mb-3">評価が高いお店</h2>
  <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
    {% for store in top_rated_stores %}
      <div class="col">
        <a href="{% url 'store_top' store.id %}" class="link-dark card-link">
          <div class="card h-100">
            {% if store.image %}
              <img src="{{ store.image.url }}" class="card-img-top vertical-card-image" alt="{{ store.name }}">
            {% else %}
              <img src="{% static 'images/noimage.png' %}" class="card-img-top vertical-card-image" alt="No image">
            {% endif %}
            <div class="card-body">
              <h3 class="card-title">{{ store.name }}</h3>
              <div class="text-muted small mb-1">
                {% for cat in store.categories.all %}
                  <div class="d-inline-block">{{ cat.name }}</div>
                {% empty %}
                  <div class="d-inline-block">カテゴリなし</div>
                {% endfor %}
              </div>
              <p class="card-text">
                <span class="star-rating me-1" data-rate="{{ store.avg_rating|default:0 }}"></span>
                {{ store.avg_rating|default:"0.0" }}
              </p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <p>まだ店舗が登録されていません。</p>
    {% endfor %}
  </div>
</div>

<div class="container nagoyameshi-container">
  <h2 class="mb-3">カテゴリから探す</h2>
  <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-3">
    {# categories の最初の5件だけ表示 #}
    {% for category in categories|slice:":5" %}
      <div class="col">
        <a href="{% url 'stores_by_category' category.id %}" class="card-link">
          <div class="card text-white">
            {% if category.image %}
              <img src="{{ category.image.url }}" class="card-img vertical-card-image" alt="{{ category.name }}">
            {% else %}
              <img src="{% static 'images/noimage.png' %}" class="card-img vertical-card-image" alt="No image">
            {% endif %}
            <div class="card-img-overlay d-flex justify-content-center align-items-center overlay-background">
              <h3 class="card-title category-name">{{ category.name }}</h3>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <p>カテゴリが登録されていません。</p>
    {% endfor %}
  </div>
</div>