{% extends "base.html" %}

{% block main %}
<div class="container py-4 nagoyameshi-container">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
      <h1 class="mb-4 text-center">ログイン</h1>
      <p  class="text-danger">
        動作確認用アカウント
        <br>
        メールアドレス：user@example.com
        <br>
        パスワード：nagoyameshi
        <br>
        テストカード：4242424242424242
        <br>
        ※テストカード詳細はこちら
      </p>
      <hr class="mb-4">

      <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
          <input type="text" class="form-control" id="id_username" name="username" 
                 required placeholder="メールアドレス">
        </div>

        <div class="form-group mb-3">
          <input id="id_password" type="password" class="form-control" name="password" 
                 required placeholder="パスワード">
        </div>

        <div class="form-group mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember" id="remember">
            <label class="form-check-label" for="remember">次回から自動的にログインする</label>
          </div>
        </div>

        <div class="form-group d-flex justify-content-center mb-4">
          <button type="submit" class="btn btn-primary text-white shadow-sm w-100">ログイン</button>
        </div>
      </form>

      <hr class="my-4">

      <div class="text-center mb-3">
        <a href="{% url 'password_reset' %}">パスワードをお忘れの方はこちら</a>
      </div>

      <div class="text-center">
        <a href="{% url 'register' %}">新規会員登録はこちら</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
